
.eventos {
  
    margin-top: 20px;
    margin: 15px;
    img { 
      width: 30px; 
      h2 {
        margin-top: 20px;
        font-size: 30px;
        line-height: 50px;
        p{
            align-content: center;
            justify-content: center;
            align-items: center;
}
}
}
}