//Colores_variables

$colorFooter: #b4c4dd;
$colorText:white;
$colorNavbar: $colorFooter;

/*------Map-Get-------*/
$boton: (
  color: #a492a5,
  centro: center,
  Fuente: 14px,
  1rem : 1rem,
  pading: 10px
);
